<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* Your custom styles go here */
    </style>
</head>

<body>
    <!-- Header -->
    <header class="bg-primary text-center py-5 mb-4">
        <div class="container">
            <h1 class="font-weight-light text-white">Simple Template</h1>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <form class="input-group upload-data row">
            <div class="col-xl-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-primary col-12" id="uload">Upload</button>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6">
                <button id="send" type="button" class="btn btn-success col-12">Predict</button>
            </div>

            <input type="hidden" class="form-control mr-2" id="url" placeholder="Enter REST Api url..." value="../predict" />
            <input name="upload" type="file" id="fileinput" style="position:absolute;top:-500px; display: none;" /><br />
        </form>

        <div class="row">
            <!-- Uploaded Image -->
            <div class="col-xl-6 col-md-6 col-sm-6 mb-6">
                <div class="card border-0 shadow upload-image ">
                    <video autoplay id="video"></video>
                    <img src="" class="" id="photo">
                    <canvas style="display:none;" id="canvas"></canvas>
                </div>
            </div>
            <!-- Prediction Results -->
            <div class="col-xl-6 col-md-6 col-sm-6 mb-6">
                <div class="card border-0 shadow res-part2">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Prediction Results</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading Indicator -->
    <div id="loading">
        <div class="loader"></div>
    </div>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        // JavaScript code for your functionality
    </script>
</body>

</html>
